<h1>Edit Stock Details</h1>
<nav2>
<form class="" action="/stocks/<%= @stock.id %>" method="post">

  <label for="shop-select">Select a Shop:</label>
  <select id="shop-select" name="shop_id">
    <% for shop in @shops %>
    <option value="<%= shop.id %>" <%= 'selected' if @stock.shop_id == shop.id %>> <%=shop.name%> </option>
    <% end %>
  </select>
  </br>

  <label for="manufacturer-select">Select a Manufacturer:</label>
  <select id="manufacturer-select" name="manufacturer_id">
    <% for manufacturer in @manufacturers %>
    <option value="<%= manufacturer.id %>" <%= 'selected' if @stock.manufacturer_id == manufacturer.id %>> <%=manufacturer.name%> </option>
    <% end %>
  </select>
  </br>

  <label for="type">Garment Type:</label>
  <input id="type" value="<%= @stock.type %>" type="text" name="type">
  </br>

  <label for="colour">Garment colour:</label>
  <input id="colour" value="<%= @stock.colour %>" type="text" name="colour">
  </br>

  <label for="shop_stock_level">Amount of Garments:</label>
  <input id="shop_stock_level" value="<%= @stock.shop_stock_level %>" type="number" name="shop_stock_level">
  </br>

  <label for="price">Price:</label>
  <input id="price" value="<%= @stock.price %>" type="number" name="price">
  </br>

  <label for="manufacturer_cost">Cost of Production:</label>
  <input id="manufacturer_cost" value="<%= @stock.manufacturer_cost %>" type="number" name="manufacturer_cost">
  </br>

  <input type="submit" value="Update Stock">
</form>
</nav2>
